@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	word-break: normal;
	white-space: normal;
	word-break: break-all;
}
ul {
	list-style: none;
}
img {
	border-width: 0;
}
.clear {
	clear: left;
	width: 1000px;
	height: 0;
	overflow: hidden;
}
#all {
	width: 1000px;
	height: 800px;
	margin: 0 auto;
}
.banner {
	width: 1000px;
	height: 106px;
	 
	overflow: hidden;
}
.banner_f1 {
	width: 1000px;
	height: 88px;
	background-image: url(../images/001.png);
	overflow: hidden;
}
.banner_font {
	font-size: 46px;
	color: #000;
	float: left;
	display: inline;
	margin-left: 15px;
	margin-top: 30px;
}
.banner_f2 {
	width: 1000px;
	height: 11px;
	background-color: #6C7079;
	overflow: hidden;
}
.banner_f3 {
	width: 1000px;
	height: 2px;
	background-color: #ECF2F2;
	overflow: hidden;
}
.banner_f4 {
	width: 1000px;
	height: 5px;
	background-color: #6C7079;
	overflow: hidden;
}
.main {
	width: 1000px;
	height: 652px;
	background-color: #E5F4BD;
}
.main_font {
	font-size: 42px;
	font-weight: bold;
	color: #000;
	float: left;
	display: inline;
	margin-left: 400px;
	margin-top: 15px;
}
.f1 {
	width: 1000px;
	height: 36px;
	position: relative;
	overflow: hidden;
	margin-top: 5px;
}
.search_img {
	float: left;
	position: relative;
	top: -1px;
	left: 10px;
}
#search_img {
	height: 42px;
}
.f1_font {
	float: left;
	display: inline;
	font-size: 26px;
	font-weight: bold;
	margin-left: 200px;
}
.f1_input {
	float: left;
}
#f1_input {
	height: 28px;
	width: 230px;
	font-size: 26px;
}
#s1 {
	float: left;
	width: 130px;
	margin-left: 4px;
	font-size: 22px;
	height:30px;
}
#s2 {
	height:30px;
	float: left;
	width: 130px;
	margin-left: 4px;
	font-size: 22px;
}
.f2 {
	width: 1000px;
	height: 455px;
	position: relative;
	margin-top: 15px;
}
.f2_l {
	width: 112px;
	height: 455px;
	float: left;
	 
}
.ul {
	float: left;
	display: inline;
	list-style: none;
	margin-left: 10px;
	margin-top: 43px;
	position: absolute;
}
.ul li {
	margin-bottom: 26px;
	font-size: 18px;
	font-weight: bold;
}
.blank {
	position: absolute;
	background-color: #FFF;
	z-index: 1;
	width: 108px;
	height: 40px;
	left: -5px;
	top: 35px;
	border-radius: 5px;
}
.z {
	position: relative;
	z-index: 3;
}
.ul a {
	text-decoration: none;
	color: #000;
}
.ul a:hover {
	text-decoration: underline;
	color: #F00;
}
.f2_r {
	width: 880px;
	height: 455px;
	float: left;
	background-color: #FFF;
	border-radius: 10px;
	position: relative;
}
.message {
	width: 880px;
	height: 455px;
	overflow: hidden;
}
.message_f1 {
	width: 880px;
	height: 25px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
	overflow: hidden;
 
}
.message_f11 {
	width: 880px;
	height: 25px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px #666666 dotted;
	overflow: hidden;
	 
}
.message_f2 {
	width: 880px;
 
	font-weight: bold;
	text-align: center;
	padding-top:10px;
 
	 
}
.table{ border-collapse:collapse;  font-size:14px; font-weight:bold; margin:0 auto;  width:842px; text-align:center;}
.table a{ text-decoration:none; color:#000;}
.table a:hover{ color:red;}
.table td{ height:32px; padding:0 2px 0 2px;}
.message_f2 td{ border:1px solid  #999; }
.td1{ width:56px;}
.td2{   width:45px;}
.td3{  width:68px;}
.td4{  width:90px;}
.td5{   width:162px;}
.td6{   width:308px;}
.td7{  width:77px;}

.c {
 
}
.hr1 {
	width: 850px;
	height: 7px;
	background-color: #A7AFBA;
	overflow: hidden;
	margin: 0 auto;
	 
}
.hr2 {
	width: 780px;
	height: 4px;
	background-color: #A7AFBA;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 2px;
}
.hr3 {
	width: 720px;
	height: 2px;
	background-color: #A7AFBA;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 1px;
	overflow: hidden;
	 
}
.hr4 {
	width: 800px;
	height: 1px;
	overflow: hidden;
	border-bottom: 1px dotted #999999;
}
 
.message_f3 {
	width: 880px;
	height: 56px;
	position: relative;
}
.span_ul {
	display: inline;
	float: left;
	margin-left: 160px;
	margin-top: 13px;
	position: relative;
}
.span_ul div {
	float: left;
	display: inline;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
}
.span_ul a {
	font-size: 12px;
	text-decoration: none;
	color: #000;
}
.span_1 {
	width: 55px;
	text-align: center;
	
}
.span_2 {
	width: 60px;
	text-align: center;
}
.span_3 {
	width: 60px;
	text-align: center;
}
.span_4 {
	width: 50px;
	text-align: center;
}
.span_5 {
	text-align: center;
}
.span_6 {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
.span_7 {
	width: 60px;
	text-align: left;
}
.span_8 {
	width: 40px;
	text-align: left;
}
.span_9 {
	padding-left: 5px;
	padding-right: 10px;
}
.span_10 {
}
.shanchu {
	position: absolute;
	left: 607px;
	top: 5px;
}
.tianjia {
	position: absolute;
	left: 720px;
	top: 5px;
}
.f3 {
	width: 1000px;
	height: 78px;
	position: relative;
}
.back6 {
	left: 843px;
	position: absolute;
	top: 20px;
}
.baocun {
	position: absolute;
}
#baocun {
	height: 32px;
	left: 130px;
	position: absolute;
	top: 20px;
	width: 100px;
}
.footer {
	width: 1000px;
	height: 42px;
	background-image: url(../images/002.png);
}
#s1 {
	float: left;
	height: 30px;
	width: 130px;
	margin-left: 4px;
	font-size: 22px;
}
#s2 {
	float: left;
	width: 130px;
	margin-left: 4px;
	font-size: 22px;
	height: 30px;
}
#s3, #s4, #s5 {
	display: none;
	float: left;
	font-size: 22px;
	width: 130px;
	margin-left: 4px;
}